<script src="/javascripts/Chart.min.js"></script>

<canvas id="myChart" width="400" height="400"></canvas>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="tabs">
  <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
  <li><a href="#profile" data-toggle="tab">Profile</a></li>
  <li><a href="#messages" data-toggle="tab">Messages</a></li>
  <li><a href="#settings" data-toggle="tab">Settings</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">1</div>
  <div class="tab-pane" id="profile">2</div>
  <div class="tab-pane" id="messages">3</div>
  <div class="tab-pane" id="settings">4</div>
</div>

<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li><a href="/login">Sign In</a></li>
      <li><a href="/sign_up">Sign Up</a></li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  

  var data = {
  labels : ["January","February","March","April","May","June","July"],
  datasets : [
      {
        fillColor : "rgba(220,220,220,0.5)",
        strokeColor : "rgba(220,220,220,1)",
        pointColor : "rgba(220,220,220,1)",
        pointStrokeColor : "#fff",
        data : [65,59,90,81,56,55,40]
      },
      {
        fillColor : "rgba(151,187,205,0.5)",
        strokeColor : "rgba(151,187,205,1)",
        pointColor : "rgba(151,187,205,1)",
        pointStrokeColor : "#fff",
        data : [28,48,40,19,96,27,100]
      }
    ]
  };

  //Get context with jQuery - using jQuery's .get() method.
  var ctx = $("#myChart").get(0).getContext("2d");
  //This will get the first returned node in the jQuery collection.
  
  var myNewChart = new Chart(ctx).Line(data);

  $(document).ready(function(){
    $('#tabs').tabs();
  });
</script>