<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="javascripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="javascripts/blocmetrics.js"></script>
    <title>Blocmetrics</title>

    <style>
    body {
      margin: 10px auto;
      width: 800px;
    }
    </style>
  </head>
  <body>
    <h1>Blocmetrics</h1>

    <%= yield %>
  </body>
</html>