<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="javascripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="javascripts/blocmetrics.js"></script>
    <title>Blocmetrics</title>

    <p><%if current_user %>Welcome, <%= current_user.username%> | <a href="/webapps/new">Register a New Webapp</a> | <a href="/webapps">Your Webapps</a> | <a href="/auth/logout" method="POST">Log Out</a><%else%><a href="/login">Log In</a> | <a href="/sign_up">Sign Up</a><%end%> </p>


    <style>
    body {
      margin: 10px auto;
      width: 800px;
    }
    </style>
  </head>
  <body>
    <h1>Blocmetrics</h1>

    <% if flash[:success] %>
      <p><%= flash[:success] %></p>
    <% end %>

    <% if flash[:error] %>
      <p><%= flash[:error] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>